{
    "presets": [
      
        "@babel/preset-env"
      ,
     "@babel/preset-react",
     "preact"
    ],
    "plugins": [
      ["module-resolver",{
        "alias":{
          "socket-io-messaging":"./rtcjs/reusable-hooks/socket-io-messaging"
        }
      }],
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-proposal-optional-chaining",
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-export-default-from",
      ["@babel/plugin-transform-runtime"],
      ["@babel/plugin-transform-react-jsx", {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }]
    
    ]
  }